In [13]:
from main import *
from ai import *
import pandas as pd
import numpy as np

#### Test Solver

In [67]:
test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test3 = '8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'
solve(test2)

('Solved',
 '853946172917582364462137598145869237628375419739421856371298645294653781586714923')

In [68]:
a=solve_technique(test3,"naked_twins")
display(a[1])

   8     569    2369 |   12     7      4   | 12359   1369   1356
   1     4569  23469 |   28    2368   236  | 235789 36789   3567
   23     7     236  |   5    12368    9   |  1238    4     136
---------------------+---------------------+---------------------
   29     19    129  |   6      5     237  |   4     1378   137
   7      3      5   |   14     14     8   |   6      2      9
   6     149     8   |   27    239    237  |  1357   137    1357
---------------------+---------------------+---------------------
   49     2     4679 |   3     468     1   |   79     5     467
  3459  14569  134679|  247    246    2567 |  1379  13679    8
  345   14568  13467 |   9     468    567  |  137    1367    2

In [25]:
# import sys
# sys.setrecursionlimit(1500)

In [14]:
df = pd.read_csv('data/dataset.csv').drop('Unnamed: 0', axis=1)
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14

In [15]:
df['Sudoku'][0]

'8...74...1.........7.5.9.4....65.4..73.....296.8.......2.3.1.5.........8...9....2'

In [16]:
#solve(df['Sudoku'][0])
solve_technique(df['Sudoku'][0],'single_position')[0]

'Not solved'

In [17]:
solve_technique(df['Sudoku'][0],'single_candidate')[0]

'Not solved'

In [18]:
solve_technique(df['Sudoku'][0],'naked_twins')[0]

'Not solved'

In [19]:
solve(df['Sudoku'][0])

('Solved',
 '859174236164832597372569841291657483735418629648293175926381754413725968587946312')

In [4]:
import json
a =solve(df['Sudoku'][0])[1]

In [9]:
"".join([value if len(value) == 1 else "." for value in a.values()])

'859174236164832597372569841291657483735418629648293175926381754413725968587946312'

In [50]:
# rows = 'ABCDEFGHI'
# cols = '123456789'
# boxes = [s+t for s in rows for t in cols]

# def display(values):
#     """
#     Display the values as a 2-D grid.
#     Input: The sudoku in dictionary form
#     Output: None
#     """
#     width = 1+max(len(values[s]) for s in boxes)
#     line = '+'.join(['-'*(width*3)]*3)
#     for r in rows:
#         print(''.join(values[r+c].center(width)+('|' if c in '36' else '')
#                       for c in cols))
#         if r in 'CF': print(line)
#     print

In [11]:
display(a)

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [60]:
df['Solved_single_position'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_position')[0])

In [61]:
df['Solved_single_position'].value_counts()

Not solved    4813
Solved         216
Name: Solved_single_position, dtype: int64

In [14]:
df['Solved_single_candidate'] = df['Sudoku'].apply(lambda x: solve_technique(x, 'single_candidate')[0])

In [15]:
df['Solved_single_candidate'].value_counts()

Not solved    5029
Name: Solved_single_candidate, dtype: int64

In [51]:
df['Solved_naked_twins']= df['Sudoku'].apply(lambda x: solve_technique(x, 'naked_twins')[0])

In [52]:
df['Solved_naked_twins'].value_counts()

Not solved    3658
Solved        1371
Name: Solved_naked_twins, dtype: int64

In [62]:
df[(df['Solved_naked_twins']=='Solved')& (df['Solved_single_position']=='Not solved')]

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_naked_twins
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Not solved,Solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Not solved,Solved
8,8,...7....8..2.8.65.5.8.1.7.4.7...8.6..............,6347251987124896535983167243791485622865374191...,Moderate,272,15,Not solved,Solved
11,11,42....137...2.........17..8....85..4.76...9..5...,4289561377132486596593172482917853643761249855...,Moderate,261,15,Not solved,Solved
12,12,.96..3.4.8.....1..4....6.829....4.....4.5.3......,2961835478754291364315769829583642717149523683...,Moderate,292,14,Not solved,Solved
15,15,.54....8.....4..7.79...8.....26..1....35..2......,1547639823289456717962183459726341588435712965...,Moderate,274,14,Not solved,Solved
18,18,..3.8.4...2.....7.94...52.88..69....4.......7....,1637824595289436719471652388126975434362581977...,Moderate,264,15,Not solved,Solved
19,19,3.8..2....7.9.1.........48..61.9.2.74.......57...,3584621792749815636193754825618942374831276957...,Moderate,285,16,Not solved,Solved
26,26,...2.1.....5...2.3.8.57..1.7....8..9..86..1..9...,6742319581958462732835796147523184694386971259...,Moderate,277,15,Not solved,Solved
27,27,...8.31......2.3...27......85.....7.6..4.2..5....,9658431274186273593271594688513962746734129852...,Gentle,287,14,Not solved,Solved
33,33,87..93.4..........6.3.1..7...6..493....1.5.......,8756931422914576836432185791268749353891654277...,Moderate,289,14,Not solved,Solved
46,46,67.....9...5...7.......3845...139..7..6...9..3...,6738541928459217369217638452841395677562489133...,Moderate,279,14,Not solved,Solved
48,48,...9......5..4.16.713..........1.8723.......52...,4269317589582471637135689246453198723814726952...,Gentle,277,12,Not solved,Solved
61,61,7.4.......5.....3..31.7......51.48..9...5...2....,7248936516592417388316752492751348969467583121...,Moderate,271,18,Not solved,Solved
83,83,183.6......4.2.3..7.......6.9..43....72...84.....,1837649526549213787293854168952437613721568494...,Gentle,278,13,Not solved,Solved
89,89,..87.96......8..5.56.....9.....9.14.41.....8.....,3287596149746813525612438972568971434135627898...,Moderate,281,14,Not solved,Solved
90,90,.......8....2879..8.6..3..21..3....627......84...,9271463853452879618165937421583724962734691584...,Gentle,293,13,Not solved,Solved
99,99,.91..63..6..9.4..737......48..64.................,4915763826829345173752189648576431292648917351...,Moderate,278,14,Not solved,Solved
104,104,3..8.49.78...1.....25......95..82.......7........,3618549278972163544253971689561827431435796822...,Gentle,290,11,Not solved,Solved
106,106,.6.1...72.1..8..3.2.....9.....45.....23.9.46.....,5691438727142895362385769416974523181237984658...,Moderate,286,14,Not solved,Solved
113,113,.6.8.7..92.5...6.33..........4.68...67.....18....,4618372592854196733975264811549683276793425188...,Moderate,275,14,Not solved,Solved
120,120,.7...9.6......2...4.96..37..14...9.....578.......,1738495628567321944296513785143269876925784133...,Moderate,280,16,Not solved,Solved
127,127,.9..6.....7.1.8.251...3.4....9...6..5...8...1....,4927658136731489251582394678295716345649832713...,Moderate,277,15,Not solved,Solved
132,132,.....9.3..48...56.15.3.84.....1......7.....4.....,2675498313487215691593684276821549739732861454...,Gentle,288,13,Not solved,Solved
134,134,.....827...2...8.486.....5....7.5..3......68.5...,3451982767126538948692743514267859131973426855...,Moderate,278,16,Not solved,Solved
145,145,18..45..62.4.........13....9..6....5..34.71..7...,1897452362348697515671324989426183758534971627...,Moderate,292,16,Not solved,Solved
150,150,2....6....3.2...41.9..3..6..5.......6.17..3.2....,2749168358362579411958342673521486796417953829...,Tough,261,20,Not solved,Solved
155,155,..7...8...96..1.42..........1.82..3...8...1......,1476328598967513425234986719148275367389651242...,Moderate,276,16,Not solved,Solved
160,160,...58.1..9..31....7.......9..4...8916.......75...,4635891729283176457154623892347568916891245375...,Gentle,296,12,Not solved,Solved
165,165,45...7...9....16.2......9....4...5..5..4.8.......,4569278139783516421236849756147325895394681272...,Moderate,287,15,Not solved,Solved
...,...,...,...,...,...,...,...,...
4908,4908,.15.2.83.......9..........7.423.517..3.....5.....,9154278363748619252685394176423851798371926545...,Tough,1856,27,Not solved,Solved
4909,4909,...........28594...43..752..9..8..6.1.......9....,8514327967628594139431675282957813641386452796...,Moderate,2023,21,Not solved,Solved
4910,4910,.63.8..1.2..1.34.5.........74.....285...9...48...,4635892172981734651752648397493516285218963748...,Moderate,1701,24,Not solved,Solved
4911,4911,9.2.....87..1.9..4..4..71.....5.2.6..3.....8.....,9124567387831296545643871291985724632369415874...,Gentle,1732,21,Not solved,Solved
4913,4913,..4...1......28....364.527.1..9.3..2....7....4...,2846971355173289469364152781789534623621748594...,Moderate,1387,25,Not solved,Solved
4920,4920,..18.46...5..7..9...6.1.3......5...1.23...48.1...,2918346753546721987865193429684537215237914861...,Moderate,1463,24,Not solved,Solved
4923,4923,.38..645.5...4...8...8.5...3.5...8...9.....2.....,7389164525163427989428751363654298174976815232...,Moderate,1992,22,Not solved,Solved
4924,4924,.6.....9.2.39....4..96.38..7.......31.4...5.29...,8652143972739581644196738257261459831348695729...,Moderate,2008,22,Not solved,Solved
4927,4927,.6.....8..4..7..3....6.3..452..9..41..4...9..3...,1634295878425716399756831245268973417143529683...,Moderate,1423,26,Not solved,Solved
4930,4930,5.8.3.2.6.....8....39...71......61...6..2..3.....,5189372467261485934392657182943561878674219353...,Moderate,1955,24,Not solved,Solved
4932,4932,7..8.4....6.......8.56.24...1.4.9.2...7...9......,7218345699645712388356924175164897233872659414...,Gentle,1822,25,Not solved,Solved
4937,4937,.....2..4.2.8.5.7..4..3..121..2.4..5.........8...,3971628546218459735487396121692743854356812978...,Moderate,1996,24,Not solved,Solved
4939,4939,917...24.6.......8........9.5.3.7.2...84.65......,9178652436432791582851436794513978263284165977...,Gentle,2051,21,Not solved,Solved
4941,4941,.3.....4...74.59...24.9..1...3.4.6...9.....5.....,9351862471874259636243975185739416828962731544...,Moderate,1448,27,Not solved,Solved
4946,4946,4......23..84.37...15....9.9..5.2....3.....4.....,4978516236284937153152674989465128375316782498...,Gentle,1791,23,Not solved,Solved
4950,4950,...451..8..1...3...2.....9...96.85....6.7.8......,9374516286817923544253861971796385423462758198...,Tough,1963,31,Not solved,Solved
4966,4966,..74639.....8.2.......1.6..72.....46.5.....2.1...,5874639126198523744327196857283951463561748291...,Moderate,2387,24,Not solved,Solved
4969,4969,84.....71.6..1..3...58.64....2......5...8...6....,8493256712679145381358764924126573895934827167...,Moderate,1661,28,Not solved,Solved
4972,4972,.2.6.1.9.....2.....6.4385..8.4.....1....4....5...,4276513983859276149614385728347962511923457865...,Moderate,2315,28,Not solved,Solved
4973,4973,........4.2..4..53.6.3.9.7.1..5.2..8.5.....1.9...,5731289648297461534613598721365724987528943169...,Moderate,2359,25,Not solved,Solved
4978,4978,85...2.31...8..6...1..3..7.....5....54.....26....,8579624314938716526124358793261547985493871261...,Tough,2084,36,Not solved,Solved
4979,4979,...497..2...6.3...43.....5.9......836.3...1.92...,5164978327286534914391286579457612836732851492...,Moderate,2575,25,Not solved,Solved
4981,4981,56.....72...2.8.6..4.....9.1..6.2..9...187...7...,5689143729172384653427568911836427596591872347...,Gentle,2640,20,Not solved,Solved
4985,4985,.7.....2..8....56.1..5.6..9....8.....284.5.1.....,6758193242897345611435267897962814353284956174...,Tough,2427,31,Not solved,Solved
4986,4986,2...4...9.6.....5....1.67..63..9..75.8.....4.4...,2715486398639274519541367286328941751857629434...,Moderate,2762,22,Not solved,Solved
4990,4990,6.....1.37....8..2...1.3.....928.5..3.......4....,6289741537316589425941236874692875313875912642...,Moderate,1848,26,Not solved,Solved
4994,4994,.7.....3..24...1....34.65.....25....3.89.72.6....,9758216346245391878134765297612534983589472164...,Moderate,2846,22,Not solved,Solved
4997,4997,2.......79.4.2.5.8...5.3....1.....734..6.2..96...,2539681479641275381785432965124896734376528196...,Moderate,1843,30,Not solved,Solved
5014,5014,.92....5...76.93..5.......1.3.1.8.6..............,3924816571876593245642738917391284654285679136...,Moderate,2920,27,Not solved,Solved
5027,5027,.83...6..2..4.7..3.1.....5.6...2...7...765...3...,7835916242654879139146327586591238478417653923...,Tough,3214,30,Not solved,Solved

In [18]:
df['Solved']= df['Sudoku'].apply(lambda x: solve(x)[0])

In [19]:
df['Solved'].value_counts()

Solved    5029
Name: Solved, dtype: int64

In [20]:
df.head()

,Id,Sudoku,Solution,Level,People,Average-Time,Solved_single_position,Solved_single_candidate,Solved_naked_twins,Solved
0,0,8...74...1.........7.5.9.4....65.4..73.....296...,8591742361648325973725698412916574837354186296...,Diabolical,254,25,Not solved,Not solved,Not solved,Solved
1,1,.5.....7.9......6...21.75.8.4..69.3...8...4......,8539461729175823644621375981458692376283754197...,Moderate,281,12,Not solved,Not solved,Not solved,Solved
2,2,...45.2..3.........8....4..7...94.3.9..5.2.76....,6974532183248617955819274637186945329435128762...,Diabolical,265,22,Not solved,Not solved,Not solved,Solved
3,3,9......31.3...8.....5.7.9..3...4...8.916..54.4...,9274568316341982758153729643527496187916835424...,Tough,279,19,Not solved,Not solved,Not solved,Solved
4,4,9.......2784.1.5.....4.....2.53.1.7...7...8......,9615387427846125395234796182953814761479568236...,Moderate,301,14,Not solved,Not solved,Not solved,Solved

In [21]:
display(solve(df['Sudoku'][0])[1])

8 5 9 |1 7 4 |2 3 6
1 6 4 |8 3 2 |5 9 7
3 7 2 |5 6 9 |8 4 1
------+------+------
2 9 1 |6 5 7 |4 8 3
7 3 5 |4 1 8 |6 2 9
6 4 8 |2 9 3 |1 7 5
------+------+------
9 2 6 |3 8 1 |7 5 4
4 1 3 |7 2 5 |9 6 8
5 8 7 |9 4 6 |3 1 2

In [22]:
display(solve(df['Sudoku'][1])[1])

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

In [23]:
df['Sudoku'][1]

'.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'

In [28]:
test='.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'

In [30]:
solve(test)[1]

'853946172917582364462137598145869237628375419739421856371298645294653781586714923'

In [34]:
a=solve(test)[1]

In [35]:
display(a)

8 5 3 |9 4 6 |1 7 2
9 1 7 |5 8 2 |3 6 4
4 6 2 |1 3 7 |5 9 8
------+------+------
1 4 5 |8 6 9 |2 3 7
6 2 8 |3 7 5 |4 1 9
7 3 9 |4 2 1 |8 5 6
------+------+------
3 7 1 |2 9 8 |6 4 5
2 9 4 |6 5 3 |7 8 1
5 8 6 |7 1 4 |9 2 3

In [65]:
df['Sudoku'][4]
#test2 = '.5.....7.9......6...21.75.8.4..69.3...8...4...3.42..5.3.12.86...9......1.8.....2.'
test2='9.......2784.1.5.....4.....2.53.1.7...7...8...3.2.79.1.....3.....2.6.1958.......4'

In [70]:
rows = 'ABCDEFGHI'
cols = '123456789'

boxes = [s+t for s in rows for t in cols]
row_units = [[s+t for s in r for t in cols] for r in rows]
column_units = [[s+t for s in rows for t in c] for c in cols]
square_units = [[s+t for s in rs for t in cs]for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
unitlist = row_units + column_units + square_units
units = dict((s, [u for u in unitlist if s in u]) for s in boxes)
peers = dict((s, set(sum(units[s],[]))-set([s])) for s in boxes)
valuesg = dict(zip(boxes,["." if element == "." else element for element in test3]))

In [73]:
values = solve_technique(test3,"naked_twins")[1]
for unit in unitlist:
    twins = [v for v in [values[box] for box in unit] if [values[box] for box in unit].count(v) == 2 and len(v) == 2]
    print(twins)

[]
[]
[]
[]
['14', '14']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['14', '14']
[]
[]
[]
[]

In [75]:
display(values)

   8     569    2369 |   12     7      4   | 12359   1369   1356
   1     4569  23469 |   28    2368   236  | 235789 36789   3567
   23     7     236  |   5    12368    9   |  1238    4     136
---------------------+---------------------+---------------------
   29     19    129  |   6      5     237  |   4     1378   137
   7      3      5   |   14     14     8   |   6      2      9
   6     149     8   |   27    239    237  |  1357   137    1357
---------------------+---------------------+---------------------
   49     2     4679 |   3     468     1   |   79     5     467
  3459  14569  134679|  247    246    2567 |  1379  13679    8
  345   14568  13467 |   9     468    567  |  137    1367    2

In [124]:
parejas=[]
for box in boxes:
    if len(values[box]) is 2:
        parejas.append(box)
print(parejas)

['A4', 'B4', 'C1', 'D1', 'D2', 'E4', 'E5', 'F4', 'G1', 'G7']

In [95]:
for column in column_units:
    if 'A4' in column:
        print(column)

['A4', 'B4', 'C4', 'D4', 'E4', 'F4', 'G4', 'H4', 'I4']

In [3]:
# len(validator(valuesg))
solve(test2)

('Ivalid Sudoku, check these values:', [False, '2', 'I9'])

In [203]:
display(values)

. 5 5 |. . . |. 7 .
9 . . |. . . |. 6 .
. . 2 |1 . 7 |5 . 8
------+------+------
. 4 . |. 6 9 |. 3 .
. . 8 |. . . |4 . .
. 3 . |4 2 . |. 5 .
------+------+------
3 . 1 |2 . 8 |6 . .
. 9 . |. . . |. . 1
. 8 . |. . . |. 2 .

In [59]:
# def checker(grid):
    
#     rows = 'ABCDEFGHI'
#     cols = '123456789'

#     boxes = [s+t for s in rows for t in cols]
#     values_grid = dict(zip(boxes, ["." if element == "." else element for element in grid]))
#     row_units = [[s+t for s in r for t in cols] for r in rows]
#     column_units = [[s+t for s in rows for t in c] for c in cols]
#     square_units = [[s+t for s in rs for t in cs]for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
#     unitlist = row_units + column_units + square_units
#     units = dict((s, [u for u in unitlist if s in u]) for s in boxes)
#     peers = dict((s, set(sum(units[s],[]))-set([s])) for s in boxes)
    
# #     print(values_grid.keys())
# #     print('hiiiiiiiii',row_units)
#     if 'A1' in row_units:
#         print(row_units)

# #     for a in values_grid.values():
# #         if a == '.':
# #             print('no')
# #         else:
# #             if a in values_grid[a]:
# #                 print('yes')

In [34]:
def split(element): 
    return [char for char in element]  

def transform_matrix(element):
  return np.reshape(split(element), (-1, 9))

In [48]:
transform_matrix(test_wrong)

array([['.', '5', '.', '.', '.', '.', '.', '7', '.'],
       ['9', '.', '.', '.', '.', '.', '.', '6', '.'],
       ['.', '.', '2', '1', '.', '7', '5', '.', '8'],
       ['.', '4', '.', '.', '6', '9', '.', '3', '.'],
       ['.', '.', '8', '.', '.', '.', '4', '.', '.'],
       ['.', '3', '.', '4', '2', '.', '.', '5', '.'],
       ['3', '.', '1', '2', '.', '8', '6', '.', '.'],
       ['.', '9', '.', '.', '.', '.', '.', '.', '1'],
       ['.', '8', '.', '.', '.', '.', '.', '2', '.']], dtype='<U1')

In [35]:
transform_matrix(test2)

array([['.', '5', '.', '.', '.', '.', '.', '7', '.'],
       ['9', '.', '.', '.', '.', '.', '.', '6', '.'],
       ['.', '.', '2', '1', '.', '7', '5', '.', '8'],
       ['.', '4', '.', '.', '6', '9', '.', '3', '.'],
       ['.', '.', '8', '.', '.', '.', '4', '.', '.'],
       ['.', '3', '.', '4', '2', '.', '.', '5', '.'],
       ['3', '.', '1', '2', '.', '8', '6', '.', '.'],
       ['.', '9', '.', '.', '.', '.', '.', '.', '1'],
       ['.', '8', '.', '.', '.', '.', '.', '2', '.']], dtype='<U1')